:root {
  --global-width: 80%;
  --global-max-width: 850px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.main-container {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 9rem auto 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f4f4f4;
  box-shadow: 0px 2px 4px #B5B5B5;
}

h1 {
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: auto;
}

.emails-list-container {
  margin-top: 13rem;
}

.email-body {
  padding: 0.8rem;
  border: 1px solid lightgray;
  background-color: #fff;
}

.email-body p {
  margin: 0.5rem 0;
}

.email-content {
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  border: 2px solid lightgray;
  background-color: #f5f5f5;  
}

.email-content > .recipient {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

.emailing-details {
  text-align: center;
  border-top: 1px solid #cacaca;
}

.emailing-details > h3 {
  margin: 0.6rem 0;
}

.emailing-details > p {
  margin: 0;
  padding-bottom: 0.5rem;
}