:root {
  font-family: 'Quicksand', sans-serif;
  --global-width: 80%;
  --global-max-width: 850px;
}

body {
  margin: 0;
}

.main-container {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 13.5rem auto 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0088a7;
  box-shadow: 0px 2px 4px #B5B5B5;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 3px #4d4d4d;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: auto;
}

.button {
  cursor: pointer;
  padding: 0.35rem 1.2rem;
  border: 1px solid #FFF;
  border-radius: 3px;
  font-family: inherit;
  font-weight: 300;
  background-color: #ffffff57;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #fff;
}

.version-form > label {
  color: #fff;
}

.version-form > select {
  font-family: inherit;
}

.email-body {
  padding: 0.8rem;
  border: 1px solid lightgray;
  background-color: #fff;
}

.email-body p {
  margin: 0.5rem 0;
}

.email-content {
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  border: 2px solid lightgray;
  background-color: #f5f5f5;  
}

.email-content > .recipient {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

.emailing-details {
  text-align: center;
  border-top: 1px solid #cacaca;
  background-color: #f4f4f4;
}

.emailing-details > h3 {
  margin: 0.6rem 0;
}

.emailing-details > p {
  margin: 0;
  padding-bottom: 0.5rem;
}